repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff check
        args: [--fix]
        types_or: [python, pyi]
      - id: ruff-format
        name: ruff format
        types_or: [python, pyi]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle
        additional_dependencies: ["tomli"]
        args: ["--config=pyproject.toml"]
