version: '3.8'

services:
  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "9001:8000"
    volumes:
      - ~/.chorma/chroma-data:/chroma/chroma
    environment:
      - ANONYMIZED_TELEMETRY=False
      - ALLOW_RESET=True
    restart: unless-stopped
    networks:
      - rag-network

volumes:
  chromadb-data:
    driver: local

networks:
  rag-network:
    driver: bridge